html {
  font-family: Arial, sans-serif;
  font-size: 24px;
}

body {
  background: #eee;
}

th,
tbody,
tr {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  color: #118488;
  background-color: white;
}

td,
thead {
  text-align: center;
}

thead {
  font-weight: bold;
  background-color: #fd5c63;
  color: #fff;
}

td {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid #118488;
  padding: 10px;
}
